.conten{
    
    width: 722px;
    min-height: 200px;
    position: absolute;
    top: 196px;
    left: 410px;
}
.post{
   
    position: relative;
    height: 180px;
    width: 700px;
    top: 5px;
    left: 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.postdetailes{
  
    width: 90%;
    margin-left: 5px;
    padding-left: 5px;
    display: flex;
    padding: 7px;
    
    flex-direction: column;
}
.post> img{
    border-radius: 40px;
    height: 40px;
    border: 1px solid black;
    width: 40px;
    padding: 0;
    margin-top: 5px;
}
.comendet{
    display: flex;
    flex-direction: row;
    margin: 5px;
    margin-left: 25px;
}

.coment{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-size: 16px;
    width: 60px;
   border-bottom: 1px solid #f3f4f5;
    height: 35px;
   
    padding: 2px;
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
    padding-right: 0;

}
.like{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    cursor: pointer;
    font-size: 16px;
    width: 60px;
    border-bottom: 1px solid #f3f4f5;
    margin-right: 15px;
    padding: 2px;
    border-radius: 5px;
    height: 35px;
    background-color: rgb(228, 248, 248);

}
